
.text-area *.text {
    -fx-text-alignment: center;
}



.tekst {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.kontejner {
     -fx-background-color: linear-gradient(rgb(30, 144, 255) 0%, rgb(30, 144, 255) 100%),
    	linear-gradient(rgb(30, 144, 255), rgb(235, 206, 235)),
    	linear-gradient(rgb(235, 206, 235) 0%, rgb(135, 206, 235) 100%);
    -fx-background-insets: 0, 1, 3;
    -fx-background-radius: 7, 8, 9;
    -fx-text-fill: #ADD8E6;
  
  }
  
.titled-pane > .title
{
-fx-background-color: PowderBlue;
-fx-background-insets: 0;
-fx-background-radius: 0;
}